<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <meta name="description"
        content="Site-ul Gusturi & Culturi este dedicat pasionaților de gastronomie și cultură, oferind rețete tradiționale din întreaga lume, articole despre obiceiuri culinare și povești despre mâncărurile care ne unesc."/>
        <meta name="keywords" content="Gusturi & Culturi, rețete, gastronomie, cultură, tradiții culinare, povești despre mâncare" />
        <meta name="author" content="Deliu Georgiana" />
        <title>Despre noi - Gusturi & Culturi</title>

        <%- include("../fragmente/head.ejs") %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comfortaa:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tektur:wght@400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../resurse/css/video-despre-noi.css">
    </head>
    <body>
        <video controls preload="auto" poster="poster.jpg">
            <!-- Surse video în formate diferite -->
            <source src="video.mp4" type="video/mp4">
            <source src="video.webm" type="video/webm">
            
            <!-- Trackuri subtitrări -->
            <track 
                src="subtitrare_ro.vtt" 
                kind="subtitles" 
                srclang="ro" 
                label="Română" 
                default>
                
            <track 
                src="subtitrare_en.vtt" 
                kind="subtitles" 
                srclang="en" 
                label="English">
                
            <track 
                src="subtitrare_ru.vtt" 
                kind="subtitles" 
                srclang="ru" 
                label="Русский">
                
            Browserul tău nu suportă elementul video.
        </video>
    </body>
</html>