<footer id="contact">
    <h2>Contact</h2>
    <address>
        <p>Telefon: <a href="tel:+40724567890">+40 724 567 890</a></p>
        <p>Email: <a href="mailto:contact@gusturiculturi.ro">contact@gusturiculturi.ro</a></p>
        <p>Locație: <a href="https://goo.gl/maps/FacultateaMatematicaSiInformatica" target="_blank">Facultatea de Matematică și Informatică</a></p>
        <p>Chat: <a href="skype:gusturiculturi?chat">Skype</a> | <a href="https://wa.me/40724567890">WhatsApp</a></p>
    </address>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.915308571453!2d26.102855315666892!3d44.43759527910162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff5e7aaaaab1%3A0x57a4e182c4f97c0d!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1651234567890!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen></iframe>
    
    <p><a href="#top" id="link-top" title="Înapoi sus"></a></p>

    
    <small>&copy; <time datetime="2025-03-01">1 Martie 2025</time> Gusturi&Culturi. Toate drepturile rezervate.</small>
    <p id="absolut"></p>
    <div id="container-comparare" style="display:none; position:fixed; bottom:10px; right:10px; background:#fff; border:1px solid #ccc; padding:10px; z-index:1000;">
        <p>Comparare:</p>
        <ul id="lista-comparare"></ul>
    </div>
</footer>