<section id="galerie-statica">
    <h2>Galerie de preparate</h2>
    <div class="grid-galerie">
        <% 
        // Verifică dacă avem imagini
        if (locals.imaginiGalerie && Array.isArray(locals.imaginiGalerie) && locals.imaginiGalerie.length > 0) {
            // Asigură-te că numărul imaginilor este par pentru a păstra modelul zigzag
            let numarImagini = locals.imaginiGalerie.length;
            if (numarImagini % 2 == 1) {
                numarImagini--;
            }
            
            for (let i = 0; i < numarImagini; i++) {
                let img = locals.imaginiGalerie[i];
                let pozitieClasa = "";
                
                // Stabilește poziția pentru modelul zigzag
                if (i % 4 < 2) {
                    pozitieClasa = "pozitie-" + (i % 2);
                } else {
                    pozitieClasa = "pozitie-" + ((i % 2) + 2);
                }
                
                // Apelează fragmentul pentru fiecare element individual
        %>
                <%- include("./galerie-item", {
                    img: img, 
                    index: i+1, 
                    cale_galerie: locals.cale_galerie,
                    pozitieClasa: pozitieClasa
                }) %>
        <% 
            } 
        } else { 
        %>
            <p class="no-images">Nu există imagini disponibile pentru ziua curentă.</p>
        <% } %>
    </div>
</section>