<header>
    <h1>
        <a href="/">Gusturi & Culturi</a>
    </h1>
    <div class="theme-toggle-container">
        <button id="theme-toggle" class="theme-toggle-btn" aria-label="Schimbă tema">
            <i class="fa-solid fa-sun light-icon"></i>
            <i class="fa-solid fa-moon dark-icon"></i>
        </button>
    </div>
    <nav class="meniu-principal">
        <input type="checkbox" id="hamburgerToggle" style="display:none;">
        <label for="hamburgerToggle" id="hamburgerLabel">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul class="meniu-lista">
            <li class="meniu-element">
                <a href="#acasa" class="home-link">
                    <i class="fa-solid fa-house"></i>
                    <span class="home-text">Acasă</span>
                </a>
                <ul class="submeniu">
                    <li><a href="#despre">Despre Noi</a></li>
                    <li><a href="#prezentare">Prezentare</a></li>
                </ul>
            </li>
            <li class="meniu-element">
                <a href="#retete">Rețete</a>
                <ul class="submeniu">
                    <li><a href="./resurse/pdf/categorie/salate.pdf">Salate</a></li>
                    <li><a href="./resurse/pdf/categorie/dulciuri.pdf">Dulciuri</a></li>
                    <li><a href="./resurse/pdf/categorie/supe-ciorbe.pdf">Supe și Ciorbe</a></li>
                </ul>
            </li>
            <li class="meniu-element">
                <a href="/produse">Produse</a>
                <ul class="submeniu">
                    <li><a href="/produse">Toate</a></li>
                    <% if (locals.categorii) { %>
                        <% categorii.forEach(categ => { %>
                            <li><a href="/produse?categorie=<%= categ %>"><%= categ.replace('_', ' ').replace(/\b\w/g, l => l.toUpperCase()) %></a></li>
                        <% }) %>
                    <% } %>
                </ul>
            </li>
            <li class="meniu-element"><a href="#categorii">Categorii</a></li>
            <li class="meniu-element"><a href="#ingrediente">Ingrediente</a></li>
            <li class="meniu-element"><a href="#sarbatori">Sărbători</a></li>
            <li class="meniu-element"><a href="#international">Internațional</a></li>
            <li class="meniu-element"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>