    <title>Gusturi & Culturi - Rețete și Tradiții Culinare</title>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site web de prezentare a rețetelor tradiționale și culturii culinare mondiale">
    <meta name="keywords" content="rețete tradiționale, bucătărie internațională, cultură culinară, preparate mondiale, gastronomie">
    <meta name="author" content="Gusturi&Culturi">
    <meta name="msapplication-TileColor" content="#2b5797">
    
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="./resurse/imagini/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Gusturi&Culturi" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- CSS legaturi -->
    <link rel="stylesheet" type="text/css" href="Resurse/Css/general.css"> 
    <link rel="stylesheet" type="text/css" href="Resurse/Css/pagina-principala.css">
    <link rel="stylesheet" type="text/css" href="Resurse/Css/tabel.css">
    <link rel="stylesheet" type="text/css" href="Resurse/Css/nav.css">
    <link rel="stylesheet" type="text/css" href="Resurse/Css/nav1000.css">
    <link rel="stylesheet" type="text/css" href="Resurse/Css/nav700.css">
    <link rel="stylesheet" type="text/css" href="Resurse/Scss/nav700.scss">
    <link rel="stylesheet" type="text/css" href="Resurse/Css/printare.css">
    <link rel="stylesheet" type="text/css" href="Resurse/Css/video-despre-noi.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!--JavaScript-->
    <script src="script.js"></script>
